.cards {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  gap: 3rem;
  width: 75vw;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 350px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  background-color: var(--elements);
  cursor: pointer;
}

.flag {
  width: 100%;
}

.flag img {
  width: 100%;
  height: 175px;
  border-radius: 5px 5px 0 0;
}

.card h2 {
  font-size: 1.25rem;
  text-align: center;
  margin: 1.25rem 0;
}

.error {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .card {
    width: 100%;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
}
